.main{
    display: flex;
    margin: 50px 0px 10000px 0px;
    align-items: center;
    flex-direction: column;
    background-color:#0e1117;
    color: white;
}

.post{
    width: 500px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
}

.post img{
    width: 100%;
}

.post h1{
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.paginator{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #161a21dc;
    position: fixed;
    bottom: 0;
}

.paginator div{
    margin: 25px 50px 25px 50px;
    background-color: #161a21;
    color: grey; 
    border: 1px solid white;
    padding: 25px;
    border-radius: 25px;
}

.paginator div:hover{
    background-color: #11141a;
    color: aliceblue; 
    border: 1px solid white;
}

.paginator .active{
    cursor: pointer;
}

.paginator .disabled{
    cursor: not-allowed;
    color: grey;
}

@media only screen and (max-width: 600px) {
   .main{
    width: 100%;
    margin-left: 0px;
   }

   .post img{
    width: 100%;
    }

    .post{
        width: 350px;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid white;
    }
    .paginator{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #161a21;
        position: fixed;
        bottom: 0
    }
    .paginator div{
        margin: 10px 5px 10px 5px;
        background-color: #161a21;
        color: grey; 
        border: 1px solid white;
        padding: 10px;
        
    }

    .paginator div:hover{
        background-color: #11141a;
        color: aliceblue; 
        border: 1px solid white;
    }
    
    .paginator .active{
        cursor: pointer;
    }
    
    .paginator .disabled{
        cursor: not-allowed;
        color: grey;
    }
  }