.main{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0e1117;
  color: aliceblue;
}

.main h1{
  font-size: 100px;
  margin-top: 50px;
}

.main h3{
  font-size: 20px;
  margin-top: 0px;
}